<section id="viewCatalog" class="background-img">
  <h2 [@titleInitialize]>Welcome to Flights Traveling Page</h2>
  <div *ngIf='flights' class="added-flights">
    <div *ngFor='let flight of flights' class="added-flight" [@homeflights] >
      <a routerLink='/flight/details/{{flight._id}}'>
          <img src="{{flight.image}}" alt="" class="picture-added-flight">
          <h3>{{flight.destination}}</h3>
          <span>{{flight.origin}}</span><span>{{flight.departureDate | date}}</span>
      </a>
      </div>
  </div>
</section>