@model Blog.Models.Category

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="well">

        <h2>Изтриване</h2>

        <h3>Сигурен ли сте, че искате да изтриете категорията?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Изтрий" class="btn btn-danger" />
                    <input type="reset" value="Откажи" class="btn btn-default"
                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Обратно", "List")
</div>
