@model IEnumerable<Blog.Models.ApplicationUser>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h2>Списък на потребители</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Потребителско име</th>
                    <th class="text-right">Действия</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                    if (ViewBag.Admins.Contains(user.Id))
                    {
                        @:<tr class="info">
                            }
                     else
                     {
                            @:<tr>
                      }
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td class="text-right">
                                @Html.ActionLink("Редактирай", "Edit", "User", new { @id = user.Id}, null) |
                                @Html.ActionLink("Изтрий", "Delete", "User", new { @id = user.Id }, null)
                            </td>

                            }
                    </tbody>

                </table>
            </div>
        </div>

