<section id="viewCatalog" class="background-img">
  <h2 [@titleInitialize]>Public flights</h2>
  <div *ngIf='publicFlights' class="added-flights">
    <div *ngFor='let flight of publicFlights | paginate:{id:"publicPaginate", itemsPerPage:pageSize, currentPage:currentPage}' [@publicFlightInitialize] class="added-flight" >
      <a routerLink='/flight/details/{{flight._id}}'>
          <img src="{{flight.image}}" alt="" class="picture-added-flight">
          <h3>{{flight.destination | titlecase}}</h3>
          <span>From {{flight.origin | titlecase}} |</span><span>{{flight.departureDate | date}}</span>
      </a>
      </div>
    </div>
  </section>
  <div style="text-align: center">
  <pagination-controls  id="publicPaginate"
                      (pageChange)="pageChanged($event)"
                      maxSize="2"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
</div>